---
title: "{{ title }}"
date: "{{ datetime }}"
thumbnail: "{{ thumbnail }}"
event_type: "{{ event_type }}"
speaker: "{{ name }}"
duration: "{{ duration }}"
location: "{{ location }}"
---

{{ description }}
