---
type: news
title: {{ fields["title_" + lang] }}
description: {{ fields["description_" + lang] }}
date: {{ fields["date"] }}
{% if thumbnail %}
thumbnail: {{ thumbnail }}
{% endif %}
featured: false
---

{{ fields["content_" + lang] }}
