{% extends "_base.md.j2" %}
{% block front_matter %}
name: "{{ name }}"
datetime: "{{ datetime }}"
duration: "{{ duration }}"
location: "{{ location }}"
{% endblock %}
{% block content %}
{{ description }}
{% endblock %}
