{% extends "_base.md.j2" %}

{% block front_matter %}
event_type: "phd-thesis-defense"
datetime: "{{ datetime }}"
speaker: "{{ speaker }}"
duration: "{{ duration }}"
location: "{{ location }}"
{% endblock %}

{% block content %}
{{ description }}
{% endblock %}
