{% extends "_base.md.j2" %}

{% block front_matter %}
type: {{ type }}
title: "{{ title }}"
name: "{{ name }}"
datetime: "{{ datetime }}"
duration: "{{ duration }}"
location: "{{ location }}"
thumbnail: "{{ thumbnail }}"
{% endblock %}

{% block content %}
{{ description }}
{% endblock %}
