{% extends "_base.md.j2" %}

{% block front_matter %}
event_type: "special-event"
speaker: "{{ name }}"
duration: "{{ duration }}"
location: "{{ location }}"
{% endblock %}

{% block content %}
{{ description }}
{% endblock %}
